@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fredoka&family=Open+Sans:wght@500&family=Quicksand&family=Source+Sans+Pro&display=swap');

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: red;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.close-modal-btn:hover {
    opacity: 0.9;
}


.recipe-details-img {
    width: 300px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

@media screen and (max-width: 920px) {
    #recipe-details-modal {
        width: 80%;
    }
}